#home-div {
    display: flex;
    flex-direction: column;
}
.page-view {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.vertical {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal {
    justify-content: space-around;
    align-items: center;
}